* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

  .navbar {
    background: #e1bee7;
    min-height: 10vh;
    flex-shrink: 0;
  }

  main {
    width: 90%;
    min-height: 80vh;
    margin: 0 auto;

    flex-grow: 1;

    display: flex;

    @media screen and (max-width: 426px) {
      min-height: 80vh;

      align-items: center;
      flex-direction: column;
      margin: 0 auto;
      width: 95%;
    }

    #drugari {
      width: 90%;
      margin: 1% auto 0.5% auto;
      font-weight: 700;
      font-size: 25px;
    }

    #drugariContainer {
      width: 50%;
      height: auto;

      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      flex-direction: row;

      align-items: flex-start;

      margin: 0.5%;

      border: 2px solid black;
      border-radius: 25px;
      background: #e1bee7;

      @media screen and (max-width: 426px) {
        width: 100%;
        margin: 2.5vh auto 0vh auto;
      }
    }

    #randomItLjudi {
      width: 50%;
      min-height: 30vh;
      margin: 2.5vh 0.5%;

      display: flex;
      justify-content: center;
      flex-wrap: wrap;

      border: 2px solid black;
      border-radius: 25px;
      background: #e1bee7;

      @media screen and (max-width: 426px) {
        width: 100%;
      }

      h2 {
        align-self: center;
        text-align: center;
        font-style: italic;
        font-weight: 300;
        font-size: 18px;
      }
    }

    .pojedinacniContainer {
      width: 30%;
      height: auto;

      display: flex;
      flex-direction: column;

      border-radius: 25px;
      box-shadow: -2px 1px 14px 4px rgba(0, 0, 0, 0.43);
      margin: 1%;
      padding: 2%;
      background-color: lightseagreen;

      .userID {
        margin-top: 0.1rem;
        font-size: 0.5rem;
        text-align: center;
      }

      .userImage {
        border-radius: 25px;
        width: 100%;
      }
    }

    .pojedinacniContainer:hover {
      cursor: pointer;
      box-shadow: -2px 1px 14px 8px rgba(46, 189, 177, 0.43);
    }
  }

  footer {
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #e1bee7;
    height: 10vh;
    flex-shrink: 0;
  }

