body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.navbar {
  background: #e1bee7;
  min-height: 10vh;
  flex-shrink: 0;
}

.userWrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;

  main {
    width: 70vw;
    height: 75vh;
    margin: 2.5vh auto;

    flex-grow: 1;
  
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  
    background: #e1bee7;
    align-self: center;
  
    border-radius: 25px;
  
    @media screen and (max-width: 769px) {
      justify-content: flex-start;
      width: 100%;
    }
  
    .containerZaKorisnika {
      width: 80%;
      height: auto;

      margin: 5% auto;
      display: flex;
      justify-content: space-between;
      padding: 1%;
  
      @media screen and (max-width: 426px) {
        align-items: center;
        flex-direction: column;
        width: 100%;
      }
  
      .containerZaSlikuDruga {
        width: 45%;
        display: flex;
        justify-content: center;
  
        @media screen and (max-width: 426px) {
          width: 25rem;
          margin-bottom: 2rem;
        }
        
        img {
          width: 90%;
          border-radius: 25px;
          border: 1px solid black;
          box-shadow: -2px 1px 14px 4px rgba(0, 0, 0, 0.43);
        }
      }
  
      .containerZaDruga {
        width: 45%;
        height: auto;

        background-color: lightseagreen;
        border-radius: 25px;
        border: 1px solid black;
        box-shadow: -2px 1px 14px 4px rgba(0, 0, 0, 0.43);
        padding: 2%;
  
        @media screen and (max-width: 426px) {
          width: 90%;
        }
      }
    }
  }

  a {
    text-decoration: none;
    margin: 0 auto;
  }
  
  
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #e1bee7;
  height: 10vh;
  flex-shrink: 0;
}


