body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

main {
  width: 60%;
  min-height: 60vh;
  margin: 5% auto;
  display: flex;
  justify-content: space-between;
  padding: 1%;

  .containerZaSlikuDruga {
    width: 45%;
    img {
      width: 100%;
      border-radius: 25px;
      border: 1px solid black;
      box-shadow: -2px 1px 14px 4px rgba(0, 0, 0, 0.43);

    }
  }

  .containerZaDruga {
      width: 45%;
      background-color: lightseagreen;
      border-radius: 25px;
      border: 1px solid black;
      box-shadow: -2px 1px 14px 4px rgba(0, 0, 0, 0.43);
      padding: 2%;


  }
}
