body {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: sans-serif;
}

.navbar {
  background: #e1bee7;
  min-height: 10vh;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.userWrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.userWrapper main {
  width: 70vw;
  height: 75vh;
  margin: 2.5vh auto;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #e1bee7;
  -ms-flex-item-align: center;
      align-self: center;
  border-radius: 25px;
}

@media screen and (max-width: 769px) {
  .userWrapper main {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    width: 100%;
  }
}

.userWrapper main .containerZaKorisnika {
  width: 80%;
  height: auto;
  margin: 5% auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1%;
}

@media screen and (max-width: 426px) {
  .userWrapper main .containerZaKorisnika {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
  }
}

.userWrapper main .containerZaKorisnika .containerZaSlikuDruga {
  width: 45%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (max-width: 426px) {
  .userWrapper main .containerZaKorisnika .containerZaSlikuDruga {
    width: 25rem;
    margin-bottom: 2rem;
  }
}

.userWrapper main .containerZaKorisnika .containerZaSlikuDruga img {
  width: 90%;
  border-radius: 25px;
  border: 1px solid black;
  -webkit-box-shadow: -2px 1px 14px 4px rgba(0, 0, 0, 0.43);
          box-shadow: -2px 1px 14px 4px rgba(0, 0, 0, 0.43);
}

.userWrapper main .containerZaKorisnika .containerZaDruga {
  width: 45%;
  height: auto;
  background-color: lightseagreen;
  border-radius: 25px;
  border: 1px solid black;
  -webkit-box-shadow: -2px 1px 14px 4px rgba(0, 0, 0, 0.43);
          box-shadow: -2px 1px 14px 4px rgba(0, 0, 0, 0.43);
  padding: 2%;
}

@media screen and (max-width: 426px) {
  .userWrapper main .containerZaKorisnika .containerZaDruga {
    width: 90%;
  }
}

.userWrapper a {
  text-decoration: none;
  margin: 0 auto;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #e1bee7;
  height: 10vh;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
/*# sourceMappingURL=user.css.map */